@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

$text: #4c4c4c;
$darkgray: #1d1d1d;
$lightgray: #f2f2f2;
$footerBg: rgba(255, 255, 255, .2);
$white: #fff;
$orange: #e95d3c;
$transition: .2s ease;
$paddingY: 80px;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin btn() {
    padding: 20px 35px;
    border: none;
    border-radius: 50px;
    background-color: $orange;
    color: $white;
    font-size: 1.3rem;
    transition: $transition;

    &:hover {
        opacity: .7;
    }
}


/***basic***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: $text;
    letter-spacing: 1px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: $transition;
    color: $white;
    &:hover{
        color: $orange;
    }
}

hr {
    background: $lightgray;
    height: 2px;
    border: none;
}

/***header***/
header {
    background: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 200px 0;

    h1 {
        color: $white;
        font-size: 8rem;
        text-transform: uppercase;
        text-shadow: 1px 0px 5px $orange;
    }

    h3 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 800;
        color: $orange;
    }

    nav {

        color: $white;

        ul {
            @include flex(center, center, row);
            margin: 30px 0;

            li {
                margin: 20px 30px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.5rem;
            }
        }
    }
}

/***wecome***/
.welcome {
    @include flex(space-between, flex-start, row);
    padding: $paddingY 0;

    article:nth-child(1) {
        flex: 0 0 55%;

        h2 {
            text-transform: uppercase;
            font-size: 4rem;

        }

        h4 {
            padding: 20px 0;
            font-size: 1.3rem;
        }

        img {
            width: 100%;
            padding: 20px 0;
        }

        p {
            font-weight: 500;
            line-height: 2rem;
            font-size: 1.5rem;
        }

    }

    article:nth-child(2) {
        flex: 0 0 40%;

        h3 {
            font-size: 2rem;
            padding-bottom: 80px;
        }


        div {
            p{
                padding: 30px 0
            }
            div {
                @include flex(space-between, center, row);
                padding: 20px 0 50px 0;

                img {
                    flex: 0 0 25%;
                }

                p {
                    flex: 0 0 70%;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }
    }
}

.heading {
    background: $lightgray;
    padding: $paddingY 0;

    article {
        @include flex(space-between, center, row);

        .cards {
            flex: 0 0 31%;

            h2 {
                text-transform: uppercase;
                padding-bottom: 20px;
                font-size: 2rem;
            }

            img {
                width: 100%;
                padding-bottom: 20px;
            }

            p {
                line-height: 2.2rem;
                font-size: 1.5rem;
            }

            button {
                @include btn();
                margin-top: 20px;
            }
        }
    }
}

footer {
    background: $text;
    color: $white;
    padding: $paddingY 0;

    article {
        @include flex(flex-start, flex-start, row);
        margin: 0;

        div {
            flex: 0 0 33%;

            h2 {
                font-size: 1.8rem;
                padding-bottom: 30px;
            }

            li {
                padding-bottom: 10px;
                font-weight: 600;
                text-align: left;

                a {
                    color: $white;
                }
            }

            .b {
                font-weight: 700;
            }
        }
    }
}